:root {
  --main-btn-background: linear-gradient(to bottom, #e2a447, #805b2a) ;
  /*--main-btn-background: linear-gradient(to bottom, #06dfc2, #0575e6) ;*/
}

body {
  margin: 0;
  padding: 0;
  
  color: white;
  font-family: "poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

  cursor: url("../public/assets/banana3.png"), auto ;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

a{
  color: white;
  text-decoration: none;
}

p{
  padding: 0;
  margin: 0;
}

.regularBackground{
  background: rgb(105, 72, 29)
}



.secondary-bg{
  background: var(--main-btn-background);
}



.opacity-90{
  opacity: 90%;
  
}



.btnStyle{
  background: var(--main-btn-background);
  border: none;
  font-family:"poppins" ;
  font-weight:bold ;
  letter-spacing: 2px ;
  border-radius: 25px ;
  color: black ;
  padding: 10px 15px;
}

.fadedbg{
  background: var(--main-btn-background);
  opacity: 95%;
}

.btnStyle:active{
  background: linear-gradient(to bottom, #86632d, #1f160a) ;
}


.borderRadiusRounded{
  border-radius: 20px;
}

