:root {
  --main-btn-background: linear-gradient(to bottom, #06dfc2, #0575e6) ;
  /*--main-btn-background: linear-gradient(to bottom, #06dfc2, #0575e6) ;*/
}

body {
  margin: 0;
  padding: 0;
  background-color: #0F1228;
  color: white;
  font-family: "poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

  cursor: url("../public/assets/neuron.png"), auto ;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

a{
  color: white;
  text-decoration: none;
}

p{
  padding: 0;
  margin: 0;
}

.regularBackground{
  background-color: #0F1228;
}

.secondaryBackground{
  background: linear-gradient(to bottom, #06dfc2, #0575e6) ;
}


.primary-bg{
  background-color: #0F1228 ;
}

.secondary-bg{
  background-color: #202337;
}

.color-redpink{
  color: #d81384;
}

.opacity-90{
  opacity: 90%;
}

.btnStyle{
  background: var(--main-btn-background);
  border: none;
  font-family:"poppins" ;
  font-weight:bold ;
  letter-spacing: 2px ;
  border-radius: 25px ;
  color: black ;
  padding: 10px 15px;
}

.fadedbluebg{
  background: #275DAD;
}

.btnStyle:active{
  background: linear-gradient(to bottom, #087a6b, #06305a) ;
}


.borderRadiusRounded{
  border-radius: 20px;
}

